
.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-top: 80px !important;
    color: cyan;
    background: #222831;

}

.content {
    max-width: 1200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #222831;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item {
    text-align: center;
}