{% extends "base.html" %}
{% load query_transform %}

{% block content %}

	<div class="container">
		<h1>Actor List</h1>

		<div class="row">
			<div class="col-md-8">
				<ul>
					{% for actor in actors %}
						<div>
							<li><a href="/actors/{{ actor.id }}/">{{ actor.name }}</a></li>
						</div>
					{% empty %}
						<p>No actors found.</p>
					{% endfor %}
				</ul>

				<ul class="pagination">
					{% if actors.has_previous %}
						<li class="page-item">
							<a href="?page= {{ actors.previous_page_number }}" class="page-link">prev</a>
						</li>
					{% endif %}
					<li class="page-item active">
						<span class="page-link">{{ actors.number }} of {{ actors.paginator.num_pages }}</span>
					</li>
					{% if actors.has_next %}
						<li class="page-item">
							<a href="?page= {{ actors.next_page_number }}" class="page-link">next</a>
						</li>
					{% endif %}
				</ul>

			</div>
			<div class="col-md-2">
				<form method="get">
					{{ filter.form.as_p }}
					<input type="submit" value="Filter" class="btn btn-primary"/>
				</form>
				{% for obj in filter.qs %}
					{{ actor.name }}
				{% endfor %}
			</div>
		</div>
	</div>
	
{% endblock %}
