{% extends "base.html" %}
{% block content %}
	<h1>{{ director.name }}, director</h1>

	<p><strong>Movies:</strong>
		{% for movie in director.movies.all %}
			<a href="/movies/{{ movie.id }}/">{{ movie.title }}</a> {% if not forloop.last %}, {% endif %}
		{% endfor %}
	</p>

	<div style="display: inline-block;">
	<a href="{% url 'movie_service:director-update' pk=director.id %}"
	   class="btn btn-warning">Update</a>

		<a href="{% url 'movie_service:director-delete-confirmation' pk=director.id %}"
		   class="btn btn-danger">Delete</a>
	</div>


{% endblock %}
