{% extends "base.html" %}
{% load query_transform %}

{% block content %}
	<h1>Movie List</h1>
	<ul>
		{% for movie in movies %}
			<li><a href="/movies/{{ movie.id }}/">{{ movie.title }}</a></li>
		{% endfor %}
	</ul>
	
  <ul class="pagination">
    {% if movies.has_previous %}
      <li class="page-item">
        <a href="?page= {{ movies.previous_page_number }}" class="page-link">prev</a>
      </li>
    {% endif %}
    <li class="page-item active">
      <span class="page-link">{{ movies.number }} of {{ movies.paginator.num_pages }}</span>
    </li>
    {% if movies.has_next %}
      <li class="page-item">
        <a href="?page= {{ movies.next_page_number }}" class="page-link">next</a>
      </li>
    {% endif %}
  </ul>


{% endblock %}
